<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <meta name="description" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>



    <div id="main-vid">
        <img src="images/about.jpg" alt="">
    </div>

    <div id="main-section">
        <!-- navbar -->
        <div id="navbar">
            <div class="navbar-brand">
                <h3><a href="/">4K TRIMZ</a></h3>
            </div>
            <div class="navbar-links">
                <div>
                    <button id="navbar-menu-button"><i class="fa-solid fa-bars"></i></button>
                </div>
                <a href="/">PRICING</a>
                <a href="/about">ABOUT US</a>
                <a href="/gallery">GALLERY</a>

            </div>
        </div>
        <div class="navbar-links-mobile">
            <a href="/">PRICING</a>
            <hr>
            <a href="/about">ABOUT US</a>
            <hr>
            <a href="/gallery">GALLERY</a>
        </div>
        <div id="main-section-text">
            <h1>ABOUT US</h1>
        </div>
    </div>

    <div id="about-section">
        <h2>WHO WE ARE</h2>
        <p>It started with a man, his passion and his tools. Cutting hair for free to practice when and where I could has lead to me opening this barbershop.</p>
        <p>A barbershop though, is much more than a place to cut your hair. It is a community where the young and old come together to share ideas and discuss the issues of the day, and more importantly - for the customer to leave the shop better than how they came in!</p>
    </div>

    <!-- footer -->
    <div id="footer">
        <div class="footer-top">
            <div class="footer-top-links">
                <h4>CONTACT US</h4>
                <a href="">EMAIL</a>
                <a href="">NUMBER</a>
                <a href="/admin">ADMIN PORTAL</a>
            </div>
            <div class="footer-top-links">
                <h4>SERVICES</h4>
                <a href="">HAIRCUT</a>
                <a href="">BEARD</a>
            </div>
            <div class="footer-top-links">
                <h4>COMPANY</h4>
                <a href="">FAQ</a>
                <a href="">Terms & Conditions</a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="footer-bottom-links">
                <a href="">&COPY;4KTRIMZ 2025</a>
            </div>
            <div class="socials">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-snapchat"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </div>

    <script src="/index.js" async defer></script>
</body>

</html>