/* todo 

1. animate text and photos
https://www.w3schools.com/css/css3_animations.asp

2. gallery page using photos and layout from links below
https://www.pexels.com/collections/barber-shop-hxu2jt3/
https://www.youtube.com/watch?v=L0Pk3OVbxRU - 3:00 - use format for hairstyle images

/* 4 SITES DOWN AND 2 IN THE DRIVE. UR NEARLY THERE. I BELIEVE IN U */

body {
    overflow-x: hidden;
    background-color: rgb(84, 92, 92);
    margin: auto;
    /* font-family: "Yeseva One", serif; */
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
a {text-decoration: none;}
hr{width: 95%;}

/* navbar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navbar-brand a{
    color: #ffffff;
}
.navbar-links,
.navbar-brand {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.navbar-links a {
    color: white;
    margin: 0 20px;
}
.navbar-links-mobile {
    visibility: hidden;
}
.navbar-links-mobile a {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;
}
#navbar-menu-button {
    visibility: hidden;
    color: white;
    background-color: transparent;
    border-color: transparent;
}
#navbar-menu-button:hover {
    color: rgb(255, 255, 255);
    border-color: white;
}
#main-vid{
    width: 100vw;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}
/* main section */
#main-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
#main-section-text {
    text-align: center;
    color: white;
    padding: 0 40%;
    margin: 15% 0;
    font-size: 2rem;
}
#main-section-booked{
 margin: 150px 0;
}
#main-section-text i{font-size: 4em;}
#main-btn {
    box-shadow: inset 0px -3px 7px 0px #b4b7b8;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 13px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}
#main-btn:hover {
    background-color: white;
    color: black;
}
#main-btn:active {
    position: relative;
    top: 1px;
}
/* pricing */
#pricing {
    padding: 30px 0;
    color: #000000;
    background-color: rgb(43, 43, 43);
}
#pricing-text{
    margin-left: 4%;
}
.haircut-cards {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.haircut-card {
    border-radius: 8px;
}
.haircut-type {
    margin: 20px;
    width: 650px;
}
.haircut-photo {
    margin: auto;
    width: 650px;
}
.haircut-photo-1{
    height: 435px;
    width: 650px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: pricing-photos-1 15s  ease-in-out infinite;
}
.haircut-photo-2{
    height: 435px;
    width: 650px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: pricing-photos-2 15s  ease-in-out infinite;
}
.haircut-photo-3{
    height: 435px;
    width: 650px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: pricing-photos-3 12s  ease-in-out infinite;
}

.haircut-photo img {
    border: 1px solid #504c4c;
    border-radius: 5px;
    width: 650px;
}
.haircut-price {
    text-align: center;
    width: 650px;
}
/* booking */
#booking {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#booking-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    width: 50vw;
}
#booking-text-info p {
    margin: auto;
    text-align: justify;
    justify-content: left;
    width: 60%;
}
#booking-form {
    background-color: #4d4d4d;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#booking-text-pricing{
    /* width: 100%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#booking-text-pricing > div{padding: 50px;}
form {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: left;
}
form>i,
input,
select,
button {
    margin: 1%;
    padding: 12px 32px;
    justify-content: left;
    text-align: left;
    align-items: left;
}
form>label {
    text-align: left;
    justify-content: left;
    align-items: left;
}
input {
    border-radius: 5px;
}
#form-button {
    box-shadow: inset 0px 0px 0px -15px #000000;
    background-color: rgb(94, 94, 94);
    border-radius: 5px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 90px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #ffffff;
    margin: 12px 0;
}
#form-button:hover {
    color: rgb(156, 156, 156);
    border: 1px solid #ffffff;
    background-color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}
#form-button:active {
    position: relative;
    top: 1px;
}
/* footer */
#footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    text-align: center;
}
#footer>div {margin: 50px;}
.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-top-links {
    display: flex;
    flex-direction: column;
}
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-top-links a,
.footer-bottom-links a {
    color: #ffffff;
    font-size: .75em;
}
.socials a {
    color: #dedede;
    border: .5px solid;
    border-radius: 100%;
    border-color: #ffffff;
    background-color: transparent;
    padding: 5px;
}
.socials a:hover {
    background-color: black;
    opacity: .5;
}

/* about */
#about-section{
    text-align: center;
    width: 65%;
    padding-top: -70px;
    margin:0 auto ;
    text-align:center;
}

#about-section > p{
    margin: auto;
    text-align: justify;
    padding-bottom: 50px;
    width: 50%;
}



/* gallery */
#gallery-div-1{
    padding-top: 100px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery-div-1-left > div{
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
}

#gallery-div-2{
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    align-items: center;
}

.gallery-div-2-right > div{
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
}
#gallery-div-3{
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.gallery-img-bg{
    height: 80%;
    width: 98%;
    border-radius: 20px;
}

.gallery-img-md{
    height: 45%;
    width: 99%;
    border-radius: 20px;
}
.gallery-img-sm{
    height: 95%;
    width: 98%;
    border-radius: 20px;
}

/* animations */
@keyframes pricing-photos-1 {
    0%   {
    background-image: url("/images/kids1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    50%  {
    background-image: url("/images/kids3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    100% {
    background-image: url("/images/kids1.jpg");
    background-repeat: repeat;
    background-size: cover;
    }
  }
  @keyframes pricing-photos-2 {
    0%   {
    background-image: url("/images/adult7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    100% {
    background-image: url("/images/adult6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
  }
  @keyframes pricing-photos-3 {
    0%   {
    background-image: url("/images/beard4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    100% {
    background-image: url("/images/beard5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
  }

/* responsive web design */
@media only screen and (max-width: 1800px) {
    /* main section */
    #main-section-text {
        margin: 10% 0;
    }
    /* gallery */
    #gallery-div-1, #gallery-div-2, #gallery-div-3{
        flex-direction: column;
    }
    .gallery-img-bg{
        width: 105%;
    }
     
    .gallery-img-md, .gallery-img-sm{
        width: 100%;
    }
    /* about */
    #about-section > p{
        width: 80%;
    }
}
@media only screen and (max-width: 1515px) {
    #main-section-text {
        margin: 5% 0;
    }
}
@media only screen and (min-width: 1400px) {
    .navbar-links-mobile {
        visibility: hidden;
    }
}
@media only screen and (max-width: 1200px) {
    .navbar-links-mobile{
        background-color: #000000;
        text-align: center;
    }
    .navbar-links-mobile > a{
        margin: 20px 0;
        padding: 30px;
    }
    #main-section{
        background-image: url("/images/clippers.jpg");
        height:700px; 
    }
    #main-section-text {
        font-size: 1rem;
    }
    form {
        width: 50%;
    }
    #main-section-booked > div{
        font-size: 12px;
        margin: -400px;
    }
}
/* mobile view */
@media only screen and (max-width: 800px) {
    .dark{
        background-color: #000000;
        margin-bottom: -20px;
    }
    .navbar-links {
        visibility: hidden;
    }
    .navbar-links > div{
        margin:0 80%;
    } 
    #navbar-menu-button {
        visibility: visible;
    }
    .navbar-links-mobile {
        visibility: hidden;
    }
    .navbar-links-mobile-active {
        visibility: visible;
    }
    /* pricing */
    .pricing-cards {
        display: flex;
        flex-direction: column;
    }
    .haircut-cards {
        display: flex;
        flex-direction: column;
    }

    .haircut-type, .haircut-price, .haircut-photo-1, .haircut-photo-2, .haircut-photo-3{
        margin: auto;
        width:85%;
    }
    /* .haircut-photo-2 img{
        background-repeat: initial;
        background-size:contain;
    } */

    /* booking */
    #booking {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    #booking-text {
        text-align: center;
        justify-content: left;
        width: 100vw;
    }
    #booking-form {
        background-color: #4d4d4d;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        width: 60%;
    }
    #main-section-booked{
        margin: auto;
        width: 80%;
    }
    #main-section-booked > div{
        padding: 100px 0;
    }
}
@media only screen and (max-width: 515px) {
    .navbar-links > div{
        margin:0 65%;
    } 
}
@media only screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
    }
    .navbar-links > div{
        margin:0 40%;
    } 
    .footer-top {
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 450px) {
    .navbar-links > div{
        margin:0 40%;
    } 
}
